section{
display:flex;
justify-content: space-around;
align-content: space-around;
flex-wrap: wrap;
background: #cbf1f5;
font-family: verdana;
}

article {
		background: #f1eb9a;
		width:30%;
		margin-block-start: 1%;
		margin-block-end: 1%;
		border-radius: 4% 25%;
}

h1{
	font-family: arial;
	color: #ff5959;
	background-color: #dfdfdf;
}

